.personal_container {
	display: flex;
	flex-direction: row;
	padding: 75px;
}

.personal_text_container {
	max-width: 45%;
	padding: 30px 0px 0px 0px;
	background-color: rgb(43, 40, 40);
	position: relative;
	z-index: 1;
}

.personal_text_container h3 {
	display: flex;
	font-size: 4vh;
	font-weight: 600;
	padding: 20px 30px;
	justify-content: flex-end;
	margin: 0px -80px 15px 0px;
    background-color: rgb(255, 255, 255);
	z-index: 2;
}

.personal_information_background {
	font-size: 2.8vh;
	background-color: rgb(43, 40, 40);
	color:rgb(255, 255, 255);
	padding: 10vh;
}

.personal_image_container {
	min-width: 55%;
	min-height: 60vh;
}
